<!DOCTYPE html>
<html>
	<head>
  		<%= yield :title %> 
  		<%= stylesheet_link_tag    "bootstrap", "scroller", "styles", "stylesheet" %>
  		<%= javascript_include_tag "application", :media => "all" %>
  		<%= csrf_meta_tags %>
	</head>
	<body style="background-color: #08c;">
	
		<div class="container">
			<%= render "home/header.rhtml"%>	<!-- Using Rendering to display menu-->
  				<%= yield %>
   		<!--<%= render "authusers/footer.rhtml"%> 	Using Rendering to display footer-->
		</div>		
				
	</body>
</html>
