<!--Display page title-->
	<% content_for :title do %> 
		<title>HrApp.com | LogIn</title>
	<% end %>	

<div class="row" style="margin: 170px 0 140px 100px;">

        <div class="span6" style="width: 380px; text-align: left;margin: 0 0 0 20px;">
          <div style="width: 410px; border: 0px solid #000000;">
				<img src="./assets/hr_bnr.jpg" width="395px" height="250px" />
		  </div>
        </div>

        <div class="span6" style="width: 280px;">
          	<div style="width: 280px;height:150px;padding-top: 40px 0 0 30px;">
				<form accept-charset="UTF-8" action="/sessions" method="post" class="well">
        			<input id="username" name="username" type="text" value="" placeholder="username*" /><br />        		
        			<input id="password" name="password" type="password" placeholder="password*" /> <br />
      				<input class="btn btn-primary" name="commit" type="submit" value="LogIn" style="margin: 0 0 0 13em;" />  
				</form> 		
			</div>
		</div>

		<div class="span6" style="width: 280px;">
          	<div style="width: 280px;height:150px;padding-top: 40px 0 0 30px; margin: -5px 0 0 0;">					
       			<form accept-charset="UTF-8" action="/invits" class="new_invit well" id="new_invit" method="post">		
					<input id="invit_recipient_email" name="invit[recipient_email]" size="30" type="text" placeholder="Your Email address for signup!" /><br />			
					<input class="btn btn-primary" name="commit" type="submit" value="Submit" style="margin: 0 0 0 12em;" />		
				</form>		
			</div>
		</div>

 </div>
 
 <!--footer-->
 <hr style="border: 1px solid #5bc0de; border-bottom: inherit;" />

	<div class="row">
		
		<div class="span6">
			<a href="#" style="color:#ffffff;">About | </a>			
			<a href="#" style="color:#ffffff;">Contact | </a>			
			<a href="#" style="color:#ffffff;">Privacy Policy | </a>			
			<a href="#" style="color:#ffffff;">Terms of Services</a>
		</div>		
		<div class="span6" style="text-align: right;">			
			<font color="white">2012 &copy; All rights reserved.</font>
		</div>
		
	</div>