<br /> <hr />
	
	<div class="row">
		<div class="span6">
			<a href="#">About</a>
			|
			<a href="#">Contact</a>
			|
			<a href="#">Privacy Policy</a>
			|
			<a href="#">Terms of Services</a>
		</div>
		<div class="span6" style="text-align: right;">			
			2012 &copy; All rights reserved.
		</div>
	</div><br /><br />
